
<div class="contain-to-grid fixed">
    
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Empleados</li>
        <li class="has-submenu">
            <a href="{% url 'persona_app:empleados_all' %}">Listar</a>
<!--       <ul class="submenu menu vertical" data-submenu>
            <li><a href="#0">Listar</a></li>
            <li><a href="#0"></a></li>
            <li><a href="#0">Three</a></li>
            </ul>-->
        </li>
        <li><a href="{% url 'departamento_app:lista_departamento' %}">Departamentos</a></li>
        <li><a href="{% url 'departamento_app:add_departamento' %}">Agregar Departamento</a></li>
        <li><a href="{% url 'persona_app:administrador' %}">Administrar</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
        <li><input type="search" placeholder="Buscar empleado"></li>
        <li><a href="{% url 'persona_app:create_empleado' %}" class="button" type="button" >Registrar nuevo empleado</a></li>
        
        </ul>
    </div>
    </div>
</div>


  