{% extends 'base.html' %}

{% block titulo %}
    Crear empleado
{% endblock titulo %}


{% block headers %}
{% include 'includes/headers.html' %} 
{% endblock headers %}
    
    

{% block content %}
<div class="grid-container">
    <div class="grid-x ">
        <h1 class="cell">
            <h1>Crear empleado</h1>

        </h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="cell large-6">
                    <label>Nombre
                        {{form.first_name}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Apellido
                        {{form.last_name}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Trabajo
                        {{form.job}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Departamento
                        {{form.departamento}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Imagen
                        {{form.image}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Habilidades
                        {{form.habilidades}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Hoja de vida
                        {{form.hoja_vida}}
                    </label>
                </div>
                <div class="cell large-6">
                    <button class="button success" type="submit" >Guardar</button>
                    
                  </div>

                
                
            </form>
        </div>
      
    </div>
</div>


    
   
    
{% endblock content %}
    