{% extends 'base.html' %}

{% block titulo %}
    Eliminar empleado
{% endblock titulo %}


{% block headers %}
{% include 'includes/headers.html' %} 
{% endblock headers %}
    
    

{% block content %}
   <div class="grid-container">
       <div class="grid-x">
           <h1 class="cell">
            Eliminar empleado
           </h1>
           <div class="cell">
            <form method="POST">
                {% csrf_token %}
                <div class="callout alert">
                    <h5>Confirme que desea eliminar al empleado {{object.first_name}}</h5>
                  </div>
                
                <button class="button alert" type="submit" >Eliminar</button>
                
        
            </form>
            
           </div>
           
       </div>
   </div> 
{% endblock content %}


    