<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail view</title>
</head>
<body>
    <h1>Vista detalle de los empleados  {{titulo}}</h1>
    {{object}}
    <h3>Todos los datos</h3>
    <p>{{object.first_name}}</p>
    <p>{{object.last_name}}</p>
    <p>{{object.first_name}}</p>
    <p>{{object.job}}</p>
    <p>{{object.departamento}}</p>
    <p>{{object.habilidades}}</p>
    <p>{{object.hoja_vida}}</p>
</body>
</html>