{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Detalle empleados
{% endblock titulo %}


{% block headers %}
{% include 'includes/headers.html' %} 

{% endblock headers %}
    
    

{% block content %}
<div  class="grid-container aling-center"></div>
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-3  card" style="width: 300px; margin-top: 10px;">
            <div class="card-divider align-center">
                <h4>Datos del empleado {{object.id }}</h4>
                
            </div>
            <div class="card-divider align-center">
                
                {{empleado.first_name}} {{empleado.last_name}}
            </div>
            {% if empleado.image %}
                <img src="{{empleado.image.url}}">   
            {% else %}
                <img src="{% static 'img/fail.jpg' %}">  
            {% endif %}
                    
        <div class="card-section">

            <p>Trabajo:{{object.get_job_display}}</p>
            <p>Departamento:{{object.departamento.shortname}}</p>
            <p><span class="label">habilidades</span></p>
            <ul class="vertical menu">
                
                {% for h in object.habilidades.all %}
                    <li>{{h.habilidad}}</li>
                    
                {% endfor %}
                    
            </ul>  
            <div class="cell">
                {{object.hoja_vida}}
            </div>
            
            
            </div>
        </div>




    </div>


   
    
  

    {% endblock content %}
