{% extends 'base.html' %}

{% block titulo %}
    Empleados por area
{% endblock titulo %}


{% block headers %}
{% include 'includes/headers.html' %} 
{% endblock headers %}
    
    

{% block content %}
<div class="grid-container ">
    <div class="grid-x">
        <h1 class="cell">Lista de empleados</h1>


        <div class="cell">
            <table>
                <thead>
                  <tr>
                    <th width="100">ID</th>
                    <th width="100">Nombres</th>
                    <th width="100">Apellidos</th>
                    <th width="100">Departamento</th>
                    <th width="100">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for e in empleado_area %}
                  <tr>
                    <td>{{e.id}}</td>
                    <td>{{e.first_name}}</td>
                    <td>{{e.last_name}}</td>
                    <td>{{e.departamento}}</td>
                    <td><a class="button success" href="{% url 'persona_app:detail_empleado' e.id %}">Ver</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            <!--Fin listar empleados-->

        </div>



    
{% endblock content %}
    
    