{% extends 'base.html' %}

{% block titulo %}
    Nuevo departamento
{% endblock titulo %}


{% block headers %}
{% include 'includes/headers.html' %} 
{% endblock headers %}
    
    

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Agregar departamento</h1>
            </div>
            <div class="cell">
                <h3>Datos empleados</h3>
                
                <p> Nombre:{{form.nombre}}</p>
                <p>Apellido:{{form.apellidos}}</p>
            </div>
            <div class="cell">
                <h3>Datos del departamento</h3>
                <p>Nombre dep:{{form.departamento}}</p>
                <p>Dep nombre corto:{{form.shortname}}</p>
            </div>
            <div class="cell">
                <button class="button success" type="submit" >Guardar</button>

            </div>
        </div>
    </div>
        
</form>

    
{% endblock content %}
    
    