<!--Archivos css-->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Carpeta de archivos css-->
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
    <h1 class="ejemplo1">Lista prueba list view</h1>
    <h2 class="ejemplo2">Color rojo</h2>

    
    {% for elemento in lista %}
    <li>{{elemento.titulo}} - {{elemento.cantidad}} </li>
        
    {% endfor %}

    <button class="hollow button" href="#">Primary</button>
    <button class="hollow button secondary" href="#">Secondary</button>
    <button class="hollow button success" href="#">Success</button>
    <button class="hollow button alert" href="#">Alert</button>
    <button class="hollow button warning" href="#">Warning</button>
    <button class="hollow button" href="#" disabled>Disabled</button>
        
   
</body>
</html>